body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6, button {
    margin: 0;
    padding: 0;
    }

header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 46px;
	background: #772D8B;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 18px;
	z-index: 1;
}

nav {
    top: 46px;
    height:79px;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

button{ 
    background-color:  #EE2B7A;
    width: 137px;
    height: 34px;
    color: white;
    font-size: 14px;
    font-weight: 300;
	line-height: 19px;
    outline: none;
    border: none;
    border-radius: 5px;  
    cursor: pointer;  
	font-family: 'Open Sans', sans-serif; 
}

button:hover {
    background: transparent;
    border: 2px solid #EE2B7A;
}

a {
    text-decoration: none;
}

input {
    width: 267px;
    padding: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #848484;
    outline: none;
    border: none;
    border-radius: 4px;
}

button.login-btn {
    height: 45px;
}

.header-left {
	display: inline-flex;
	justify-content: center;
}

.header-left-image {
	width: 16px;
	height: 16px;
	margin-right: 13px;
}

.header-left-image img {
	width: 100%;
	height: 100%;
}

.header-right {
	display: inline-flex;
}

.header-right div {
	display: inline-flex;
}

.header-right-text1 {
	color: #FFC42D;
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	margin-right: 26px;
}

.header-right-text2 {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	margin-right: 5px;
}

.main-background {
	top: 46px;
    position: relative;
    box-sizing: border-box;
    background-image: url('./assets/img/background.jpg');
    height: 666px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 35px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.nav-left-text{
	text-align: center;
}

.nav-left-text span {
    font-size: 14px;
    line-height: 19px;
    color: white;
    font-weight: 300;
}

.nav-left-text p {
    margin-top: 4px;
}
.nav-left-text a {
    cursor: pointer;
    font-size: 19px;
    line-height: 26px;
    color: #FFC42D;
}

.nav-left-text a:hover {
    color: #EE2B7A;
}

.nav-right {
    padding-right: 18px;
}

.nav-right a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-right: 35px;
}

.nav-right a:hover {
    color: #EE2B7A;
}

.content {
    position: relative;
    top: 110px;
    padding: 80px 65px 0;
    display: flex;
    justify-content: space-between;

}

.left-content {
	 margin-top: 30px;
}

.left-content h1 {
    font-weight: 300;
    font-size: 66px;
    line-height: 154.7%;
    color: #ffffff;
}

.left-content h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #ffffff;
}

.content-form {
    width: 300px;
    height: 365px;
    padding: 18px 25px 0;
    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
}
.content-form p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.forgot-password {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B6C4DA;
    float: right;
    margin-top: 10px;
}

.content-form-button {
    margin-top: 70px;
}

.content-form-button button {
    padding: 0 150px;
    color: white;
    font-weight: 300;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form-text {
    margin-top: 18px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.content-form-text1 {
    color: #F8F5F5;
}

.content-form-text2 {
    color: #EE2B7A;
}

.about-axet {
	margin-top: 100px;
	padding: 0 70px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 120px;
}

.about-axet-left {
	margin-top: 100px;
}

.about-axet-right {
	width: 593px;
	height: 469px;
}

.about-axet-right img {
	width: 100%;
	height: 100%;
}

.heading {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #995AAA;
	line-height: 22px;
}

.about-axet-left h2 {
	font-weight: 300;
	font-size: 40px;
	line-height: 62px;
	color: #474747;
}

.about-axet-content {
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
    margin-top: 15px;
}

.services{
	margin-top: 85px;
}

.header-texts {
	text-align: center;
}

.header-texts p {
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	color: #995AAA;
}

.header-texts h2 {
	font-weight: 300;
	font-size: 40px;
	line-height: 62px;
	color: #474747;
}

.service-bottom {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 40px;
	padding: 0 55px;
}

.service-card{
	box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
	height: 340px;
	text-align: center;
	margin-bottom: 50px;
	padding: 20px 10px 20px;
}

.service-card-image {
	width: 106px;
	height: 106px;
	background: #772D8B;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-card-image img {
	width: 70px;
	height: 70px;
}

.service-card-header{
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #565656;
	margin-top: 50px;
}

.service-card-body {
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	margin-top: 30px;
}

.work-flow-background {
    margin-top: 130px;
    background-image: url('./assets/img/workflow.png');
    height: 431px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 70px 0px;
}

.work-flow-header1 {
    text-align: center;
}
.work-flow-header1 p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #d2cece;
    text-transform: uppercase;
}
.work-flow-header1 h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 62px;
    color: #ffffff;
}
.work-flow-circles {
    margin-top: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 70px;
}
.work-flow-circle {
    height: 226px;
}
.pink-circle {
    width:  100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #EE2B7A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.pink-circle-icon {
    width: 35px;
    height: 35px;
}
.pink-circle-icon img {
    width: 100%;
    height: 100%;
}
.work-flow-circle h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    color: #ffffff;
    text-align: center;
    margin: 23px 0px 13px;
}
.work-flow-circle p {
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #ffffff;
    text-align: center;
}

.clients {
    margin-top: 53px;
    padding: 0 93px;
}

.purple-header {
    color: #995AAA;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}
.light-header {
    color: #474747;
    font-size: 40px;
    line-height: 62px;
    font-weight: 300;
    text-transform: capitalize;
}
.clients-heading {
    text-align: center;
}
.clients-section {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 85px;
}
.client-box {
    padding: 30px 35px 0;
    height: 360px;
    background: white;
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
}
.client-image {
    width: 108px;
    height: 108px;
    margin: auto;
    background: white;
}
.client-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.client-content {
    margin-top: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000;
    text-align: center;
}
.news {
    margin-top: 150px;
    padding: 0 70px;
    text-align: center;
}
.news-heading h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
}
.news-heading p {
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
}
.news-section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
}
.news-box {
    height: 495px;
}
.news-image {
    height: 250px;
    width: 100%;
}
.news-image img {
    width: 100%;
    height: 100%;
}
.news-content {
    margin-top: 25px;
}
.news-content h5 {
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    color: #565656;
}
.news-content p {
    margin: 26px 0 35px;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    text-align: center;
    color: #000000;
}
.news-content button:hover {
    color: #EE2B7A;
}

.video {
	background: linear-gradient(0deg, rgba(119, 45, 139, 0.2), rgba(119, 45, 139, 0.2)),url('./assets/img/video.png');
	text-align: center;
	height: 433px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 70px;
    padding: 70px 50px 0;
    color: #ffffff;
 }
.video h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 154.7%;
    margin-bottom: 20px;
}

.video p {
    margin-top: 18px;
    font-weight: bold;
    font-size: 14px;
    line-height: 154.7%;
}

.clients-logo { 
    background: #FAFAFA;
    padding: 70px 0 10px;
    text-align: center;
}

.clients-logo h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
   	margin-top: 0;
}

.clients-banner {
    margin-top: 56px;
    height: 106px;
    background-image: url("./assets/img/clients.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer{
	margin-top: 140px;
	background: #333333;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 20px;
	padding: 50px;
	height: 260px;
}

.footer div h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 154.7%;
    margin-bottom: 15px;
}

.footer-section1 p {
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
}

.footer-section2 p {
	font-weight: 300;
	font-size: 14px;
	line-height: 35px;
}

.footer-section2 a {
	color: #fff;
}

.footer-section3 p {
	font-weight: normal;
	font-size: 14px;
	line-height: 154.7%;
    margin-bottom: 10px;
}
.footer-section3 p:nth-child(2) {
	font-size: 11px;
    line-height: 154.7%;
    color: #E3DEE4;
}


.footer-section3 a  {
	color: #fff;
}

.footer-section3 div {
	border-bottom: 1px solid #999797;
	max-width: 250px;
    margin-bottom: 15px;
}

.icon-text {
	display: flex;
	align-items: center;
    margin-bottom: 25px;
}

.footer-icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.footer-icon img {
	width: 100%;
	height: 100%;
}

.footer-credit {
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: #474747;
    height: 45px;
}


